.chatInput {
    border-radius: 20px;
  }
  
  .chatInput > form {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: black;
  }
  
  .chatInput > form > input {
    position: fixed;
    bottom: 0;
    width: 60%;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 20px;
    outline-width: 0;
  }
  
  .chatInput > form > button {
    display: none !important;
  }